	<!--=======  breadcrumb area =======-->

	<div class="breadcrumb-area breadcrumb-bg-1 pt-50 pb-70 mb-50">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="breadcrumb-title">Wishlist</h1>

					<!--=======  breadcrumb list  =======-->

					<ul class="breadcrumb-list">
						<li class="breadcrumb-list__item"><a href="index.html">HOME</a></li>
						<li class="breadcrumb-list__item breadcrumb-list__item--active">wishlist</li>
					</ul>

					<!--=======  End of breadcrumb list  =======-->

				</div>
			</div>
		</div>
	</div>

	<!--=======  End of breadcrumb area =======-->

	<!--=============================================
	=            wishlist page content         =
	=============================================-->

	<div class="shopping-cart-area mb-50">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<!--=======  cart table  =======-->

					<div class="cart-table-container">
						<table class="cart-table">
							<thead>
								<tr>
									<th class="product-name" colspan="2">Product</th>
									<th class="product-price">Price</th>
									<th class="product-quantity">Quantity</th>
									<th class="product-subtotal">&nbsp;</th>
									<th class="product-remove">&nbsp;</th>
								</tr>
							</thead>

							<tbody>
								<tr>
									<td class="product-thumbnail">
										<a href="shop-product-basic.html">
											<img src="assets/images/products/bag-1-1-600x800.jpg" class="img-fluid" alt="">
										</a>
									</td>
									<td class="product-name">
										<a href="shop-product-basic.html">Black Fabric Watch</a>
										<span class="product-variation">Color: Black</span>
									</td>

									<td class="product-price"><span class="price">$100.00</span></td>

									<td class="product-quantity">
										<div class="pro-qty d-inline-block mx-0">
											<input type="text" value="1">
										</div>
									</td>

									<td class="add-to-cart"><button class="lezada-button lezada-button--small lezada-button--icon--left">
											<i class="ion-ios-cart-outline"></i> add to cart</button></td>

									<td class="product-remove">
										<a href="#">
											<i class="ion-android-close"></i>
										</a>
									</td>
								</tr>
								<tr>
									<td class="product-thumbnail">
										<a href="shop-product-basic.html">
											<img src="assets/images/products/watch-1-1-600x800.jpg" class="img-fluid" alt="">
										</a>
									</td>
									<td class="product-name">
										<a href="shop-product-basic.html">Brown watch</a>
										<span class="product-variation">Color: Brown</span>
									</td>

									<td class="product-price"><span class="price">$150.00</span></td>

									<td class="product-quantity">
										<div class="pro-qty d-inline-block mx-0">
											<input type="text" value="1">
										</div>
									</td>

									<td class="add-to-cart"><button class="lezada-button lezada-button--small lezada-button--icon--left">
											<i class="ion-ios-cart-outline"></i> add to cart</button></td>

									<td class="product-remove">
										<a href="#">
											<i class="ion-android-close"></i>
										</a>
									</td>
								</tr>
								<tr>
									<td class="product-thumbnail">
										<a href="shop-product-basic.html">
											<img src="assets/images/products/cloth-1-1-600x800.jpg" class="img-fluid" alt="">
										</a>
									</td>
									<td class="product-name">
										<a href="shop-product-basic.html">High weist pant</a>
										<span class="product-variation">Color: Blue</span>
									</td>

									<td class="product-price"><span class="price">$10.00</span></td>

									<td class="product-quantity">
										<div class="pro-qty d-inline-block mx-0">
											<input type="text" value="1">
										</div>
									</td>

									<td class="add-to-cart"><button class="lezada-button lezada-button--small lezada-button--icon--left">
											<i class="ion-ios-cart-outline"></i> add to cart</button></td>

									<td class="product-remove">
										<a href="#">
											<i class="ion-android-close"></i>
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<!--=======  End of cart table  =======-->
				</div>
			</div>
		</div>
	</div>

	<!--=====  End of wishlist page content  ======-->