    <!--=============================================
    =            Header box topbar         =
    =============================================-->
    
    <header class="header header-offcanvas-about header-sticky">

      <!--=======  header bottom  =======-->
  
      <div class="header-bottom pt-md-40 pb-md-40 pt-sm-40 pb-sm-40">
        <div class="container wide">
  
          <!--=======  header bottom container  =======-->
  
          <div class="header-bottom-container">
  
            <!--=======  logo with off canvas  =======-->
  
            <div class="logo-with-offcanvas d-flex">
  
              <!--=======  offcanvas about icon  =======-->
  
              <div class="offcanvas-about-icon mr-20 d-none d-lg-block">
                <a href="javascript:void(0)" id="offcanvas-about-icon">
                  <i class="ion-navicon"></i>
                </a>
              </div>
  
              <!--=======  End of offcanvas about icon  =======-->
  
              <!--=======  logo   =======-->
  
              <div class="logo" style="font-size: 22px; font-weight: bold;text-transform: uppercase;">
                <a href="/">{{ storename }}
                  <!-- <img src="assets/images/logo.png" class="img-fluid" alt=""> -->
                </a>
              </div>
  
              <!--=======  End of logo   =======-->
            </div>
  
            <!--=======  End of logo with off canvas  =======-->
  
            <!--=======  header bottom navigation  =======-->
  
            <div class="header-bottom-navigation">
              <div class="site-main-nav d-none d-lg-block">
                <nav class="site-nav center-menu">
                  <ul>
                    <li class="menu-item"><a href="/">Home</a></li>
                    <li class="menu-item"><a href="category">Category</a></li>
                    <li class="menu-item"><a href="product">Product</a></li>
                    <li class="menu-item"><a href="faq">FAQ</a></li>
                    <li class="menu-item"><a href="blog">Blog</a></li>
                    <li class="menu-item" *ngIf="loginstatus == null"><a href="register">Login / Register</a></li>
                    <li class="menu-item" *ngIf="loginstatus != null"><a (click)="logout()">Logout</a></li>
                  </ul>
                </nav>
              </div>
            </div>
  
            <!--=======  End of header bottom navigation  =======-->
  
            <!--=======  headeer right container  =======-->
  
            <div class="header-right-container">
  
              <!--=======  header right icons  =======-->
  
              <div class="header-right-icons d-flex justify-content-end align-items-center h-100">
                <!--=======  single-icon  =======-->
  
                <div class="single-icon search">
                  <a href="javascript:void(0)" id="search-icon">
                    <i class="ion-ios-search-strong"></i>
                  </a>
                </div>
  
                <!--=======  End of single-icon  =======-->
                <!--=======  single-icon  =======-->
  
                <div class="single-icon user-login" *ngIf="loginstatus != null">
                  <a href="profile">
                    <i class="ion-android-person"></i>
                  </a>
                </div>
  
                <!--=======  End of single-icon  =======-->
                <!--=======  single-icon  =======-->
  
                <div class="single-icon wishlist" *ngIf="loginstatus != null">
                  <a href="javascript:void(0)" id="offcanvas-wishlist-icon">
                    <i class="ion-android-favorite-outline"></i>
                    <span class="count">2</span>
                  </a>
                </div>
  
                <!--=======  End of single-icon  =======-->
                <!--=======  single-icon  =======-->
  
                <div class="single-icon cart" *ngIf="loginstatus != null">
                  <a href="javascript:void(0)" id="offcanvas-cart-icon">
                    <i class="ion-ios-cart"></i>
                    <span class="count" *ngIf="jumlahcart != 0">{{ jumlahcart }}</span>
                  </a>
                </div>
                <!--=======  End of single-icon  =======-->
                <!--=======  single-icon  =======-->
  
                <div class="single-icon notifications" *ngIf="loginstatus != null">
                  <a href="javascript:void(0)" id="offcanvas-notifications-icon">
                    <!-- <i class="ion-android-favorite-outline"></i> -->
                    <i class="ion-android-notifications"></i>
                    <span class="count">2</span>
                  </a>
                </div>
  
                <!--=======  End of single-icon  =======-->
              </div>
              <!--=======  End of header right icons  =======-->
  
            </div>
  
            <!--=======  End of headeer right container  =======-->
  
  
          </div>
  
          <!--=======  End of header bottom container  =======-->
  
          <!-- Mobile Navigation Start Here -->
  
          <div class="site-mobile-navigation d-block d-lg-none">
            <div id="dl-menu" class="dl-menuwrapper site-mobile-nav">
              <!--Site Mobile Menu Toggle Start-->
              <button class="dl-trigger hamburger hamburger--spin">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
              <!--Site Mobile Menu Toggle End-->
              <ul class="dl-menu dl-menu-toggle">
                <li class="menu-item"><a href="/">Home</a></li>
                <li class="menu-item"><a href="category">Category</a></li>
                <li class="menu-item"><a href="product">Product</a></li>
                <li class="menu-item"><a href="faq">FAQ</a></li>
                <li class="menu-item"><a href="blog">Blog</a></li>
                <li class="menu-item" *ngIf="loginstatus != null"><a href="#">My Account</a>
                  <ul class="dl-submenu">
                    <li class="menu-item"> <a href="profile">Dashboard</a></li>
                    <li class="menu-item"> <a href="wishlist">Wishlist</a></li>
                    <li class="menu-item"> <a href="cart">Cart</a></li>
                  </ul>
                </li>
                <li class="menu-item" *ngIf="loginstatus == null"><a href="register">Login / Register</a></li>
                <li class="menu-item" *ngIf="loginstatus != null"><a (click)="logout()">Logout</a></li>
              </ul>
            </div>
          </div>
  
          <!-- Mobile Navigation End Here -->
  
  
        </div>
      </div>
  
      <!--=======  End of header bottom  =======-->
    </header>

    <!--===== End of Header box topbar ======-->
    <router-outlet></router-outlet>

    <!--=============================================
    =            footer area         =
    =============================================-->
  
    <div class="footer-container footer-one pt-100 pb-50 border-top">
      <div class="container wide">
        <div class="row">
          <div class="col footer-single-widget">
            <!--=======  copyright text  =======-->
            <!--=======  logo  =======-->
  
            <div class="logo" style="font-size: 22px; font-weight: bold;text-transform: uppercase;">
                <a href="/">{{ storename }}</a>
              <!-- <img src="../assets/images/logo.png" class="img-fluid" alt=""> -->
            </div>
  
            <!--=======  End of logo  =======-->
  
            <!--=======  copyright text  =======-->
  
            <div class="copyright-text">
              <p> &copy; 2020 {{ storename }}. <span>All Rights Reserved</span></p>
            </div>
  
            <!--=======  End of copyright text  =======-->
  
            <!--=======  End of copyright text  =======-->
          </div>
          <div class="col footer-single-widget">
            <!--=======  single widget  =======-->
            <h5 class="widget-title">ABOUT</h5>
  
            <!--=======  footer navigation container  =======-->
  
            <div class="footer-nav-container">
              <nav>
                <ul>
                  <li><a href="#">About us</a></li>
                  <li><a href="#">Store location</a></li>
                  <li><a href="#">Contact</a></li>
                  <li><a href="#">Orders tracking</a></li>
                </ul>
              </nav>
            </div>
  
            <!--=======  End of footer navigation container  =======-->
  
            <!--=======  single widget  =======-->
          </div>
          <div class="col footer-single-widget">
            <!--=======  single widget  =======-->
            <h5 class="widget-title">USEFUL LINKS</h5>
  
            <!--=======  footer navigation container  =======-->
  
            <div class="footer-nav-container">
              <nav>
                <ul>
                  <li><a href="#">Returns</a></li>
                  <li><a href="#">Support Policy</a></li>
                  <li><a href="#">Size guide</a></li>
                  <li><a href="#">FAQs</a></li>
                </ul>
              </nav>
            </div>
  
            <!--=======  End of footer navigation container  =======-->
  
            <!--=======  single widget  =======-->
          </div>
  
          <div class="col footer-single-widget">
            <!--=======  single widget  =======-->
            <h5 class="widget-title">FOLLOW US ON</h5>
  
            <!--=======  footer navigation container  =======-->
  
            <div class="footer-nav-container footer-social-links">
              <nav>
                <ul>
                  <li><a href="//twitter.com"><i class="fa fa-twitter"></i> Twitter</a></li>
                  <li><a href="//facebook.com"> <i class="fa fa-facebook"></i> Facebook</a></li>
                  <li><a href="//instagram.com/riccilink"><i class="fa fa-instagram"></i> Instagram</a></li>
                  <li><a href="//youtube.com"> <i class="fa fa-youtube"></i> Youtube</a></li>
                </ul>
              </nav>
            </div>
  
            <!--=======  End of footer navigation container  =======-->
  
  
            <!--=======  single widget  =======-->
          </div>
          <div class="col footer-single-widget">
            <!--=======  single widget  =======-->
  
            <div class="footer-subscription-widget">
              <h2 class="footer-subscription-title">Subscribe.</h2>
              <p class="subscription-subtitle">Subscribe to our newsletter to receive news on update.</p>
  
              <!--=======  subscription form  =======-->
  
              <div class="subscription-form">
                <form id="mc-form" class="mc-form">
                  <input type="email" placeholder="Your email address" required>
                  <button type="submit"><i class="ion-ios-arrow-thin-right"></i></button>
                </form>
              </div>
  
              <!--=======  End of subscription form  =======-->
  
              <!-- mailchimp-alerts Start -->
  
              <div class="mailchimp-alerts">
                <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                <div class="mailchimp-error"></div><!-- mailchimp-error end -->
              </div><!-- mailchimp-alerts end -->
  
            </div>
  
            <!--=======  End of single widget  =======-->
          </div>
        </div>
      </div>
    </div>
  
    <!--=====  End of footer area  ======-->
  
  
    <!--=============================================
    =            overlay items         =
    =============================================-->
  
    <!--=======  about overlay  =======-->
  
    <div class="header-offcanvas about-overlay" id="about-overlay">
      <div class="overlay-close inactive"></div>
      <div class="overlay-content">
  
        <!--=======  close icon  =======-->
  
        <span class="close-icon" id="about-close-icon">
          <a href="javascript:void(0)">
            <i class="ti-close"></i>
          </a>
        </span>
  
        <!--=======  End of close icon  =======-->
  
        <!--=======  overlay content container  =======-->
  
        <div class="overlay-content-container d-flex flex-column justify-content-between h-100">
          <!--=======  widget wrapper  =======-->
  
          <div class="widget-wrapper">
            <!--=======  single widget  =======-->
  
            <div class="single-widget">
              <h2 class="widget-title">About Us</h2>
              <p>At Lezada, we put a strong emphasis on simplicity, quality and usefulness of fashion products
                over other factors. Our fashion items never get outdated. They are not short-lived as normal
                fashion clothes.</p>
            </div>
  
            <!--=======  End of single widget  =======-->
          </div>
  
          <!--=======  End of widget wrapper  =======-->
  
          <!--=======  contact widget  =======-->
  
          <div class="contact-widget">
            <p class="email"><a href="mailto:contact@lezada.com">contact@lezada.com</a></p>
            <p class="phone">(+00) 123 567990</p>
  
            <div class="social-icons">
              <ul>
                <li><a href="//www.twitter.com" data-tippy="Twitter" data-tippy-inertia="true"
                    data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" target="_blank"><i
                      class="fa fa-twitter"></i></a></li>
                <li><a href="//www.facebook.com" data-tippy="Facebook" data-tippy-inertia="true"
                    data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" target="_blank"><i
                      class="fa fa-facebook"></i></a></li>
                <li><a href="//www.instagram.com" data-tippy="Instagram" data-tippy-inertia="true"
                    data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" target="_blank"><i
                      class="fa fa-instagram"></i></a></li>
                <li><a href="//www.youtube.com" data-tippy="Youtube" data-tippy-inertia="true"
                    data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" target="_blank"><i
                      class="fa fa-youtube-play"></i></a></li>
              </ul>
            </div>
          </div>
  
          <!--=======  End of contact widget  =======-->
        </div>
  
        <!--=======  End of overlay content container  =======-->
      </div>
    </div>
  
    <!--=======  End of about overlay  =======-->
  
    <!--=======  notifications overlay  =======-->
  
    <div class="notifications-overlay" id="notifications-overlay">
      <div class="notifications-overlay-close inactive"></div>
      <div class="notifications-overlay-content">
        <!--=======  close icon  =======-->
  
        <span class="close-icon" id="notifications-close-icon">
          <a href="javascript:void(0)">
            <i class="ion-android-close"></i>
          </a>
        </span>
  
        <!--=======  End of close icon  =======-->
  
        <!--=======  offcanvas wishlist content container  =======-->
  
        <div class="offcanvas-cart-content-container">
          <h3 class="cart-title"><b>Notifikasi</b></h3>
  
          <div class="cart-product-wrapper">
            <div class="cart-product-container  ps-scroll">
              <!--=======  single cart product  =======-->
  
              <div class="single-cart-product">
                <span class="cart-close-icon">
                  <a href="#"><i class="ti-close"></i></a>
                </span>
                <div class="content">
                  <h5><a href="#"></a>Anda mendapatkan cashback Rp. 100.000</h5>
                </div>
              </div>
              <div class="single-cart-product">
                <span class="cart-close-icon">
                  <a href="#"><i class="ti-close"></i></a>
                </span>
                <div class="content">
                  <h5><a href="#"></a>Lakukan pembayaran segera, No.Order 12345678</h5>
                </div>
              </div>
              <!--=======  End of single cart product  =======-->
            </div>
  
            <!--=======  cart buttons  =======-->
  
            <div class="cart-buttons">
              <a href="#">Hapus semua notifikasi</a>
            </div>
  
            <!--=======  End of cart buttons  =======-->
          </div>
        </div>
  
        <!--=======  End of offcanvas wishlist content container   =======-->
      </div>
    </div>
  
    <!--=======  End of notifications overlay  =======-->
    
    <!--=======  wishlist overlay  =======-->

    <div class="wishlist-overlay" id="wishlist-overlay">
      <div class="wishlist-overlay-close inactive"></div>
      <div class="wishlist-overlay-content">
        <!--=======  close icon  =======-->
  
        <span class="close-icon" id="wishlist-close-icon">
          <a href="javascript:void(0)">
            <i class="ion-android-close"></i>
          </a>
        </span>
  
        <!--=======  End of close icon  =======-->
  
        <!--=======  offcanvas wishlist content container  =======-->
  
        <div class="offcanvas-cart-content-container">
          <h3 class="cart-title">Wishlist</h3>
  
          <div class="cart-product-wrapper">
            <div class="cart-product-container  ps-scroll">
              <!--=======  single cart product  =======-->
  
              <div class="single-cart-product">
                <span class="cart-close-icon">
                  <a href="#"><i class="ti-close"></i></a>
                </span>
                <div class="image">
                  <a href="shop-product-basic.html">
                    <img src="assets/images/cart-product-image/01.jpg" class="img-fluid" alt="">
                  </a>
                </div>
                <div class="content">
                  <h5><a href="shop-product-basic.html">Dark Brown Leather Watch</a></h5>
                  <p><span class="main-price discounted">$200.00</span> <span class="discounted-price">$180.00</span></p>
  
                </div>
              </div>
  
              <!--=======  End of single cart product  =======-->
              <!--=======  single cart product  =======-->
  
              <div class="single-cart-product">
                <span class="cart-close-icon">
                  <a href="#"><i class="ti-close"></i></a>
                </span>
                <div class="image">
                  <a href="shop-product-basic.html">
                    <img src="assets/images/cart-product-image/02.jpg" class="img-fluid" alt="">
                  </a>
                </div>
                <div class="content">
                  <h5><a href="shop-product-basic.html">Dining Chair</a></h5>
                  <p><span class="main-price discounted">$300.00</span> <span class="discounted-price">$220.00</span></p>
  
                </div>
              </div>
  
              <!--=======  End of single cart product  =======-->
              <!--=======  single cart product  =======-->
  
              <div class="single-cart-product">
                <span class="cart-close-icon">
                  <a href="#"><i class="ti-close"></i></a>
                </span>
                <div class="image">
                  <a href="shop-product-basic.html">
                    <img src="assets/images/cart-product-image/03.jpg" class="img-fluid" alt="">
                  </a>
                </div>
                <div class="content">
                  <h5><a href="shop-product-basic.html">Creative Wooden Stand</a></h5>
                  <p><span class="main-price discounted">$100.00</span> <span class="discounted-price">$80.00</span></p>
  
                </div>
              </div>
  
              <!--=======  End of single cart product  =======-->
              <!--=======  single cart product  =======-->
  
              <div class="single-cart-product">
                <span class="cart-close-icon">
                  <a href="#"><i class="ti-close"></i></a>
                </span>
                <div class="image">
                  <a href="shop-product-basic.html">
                    <img src="assets/images/cart-product-image/01.jpg" class="img-fluid" alt="">
                  </a>
                </div>
                <div class="content">
                  <h5><a href="shop-product-basic.html">Dark Brown Leather Watch</a></h5>
                  <p><span class="main-price discounted">$200.00</span> <span class="discounted-price">$180.00</span></p>
  
                </div>
              </div>
  
              <!--=======  End of single cart product  =======-->
              <!--=======  single cart product  =======-->
  
              <div class="single-cart-product">
                <span class="cart-close-icon">
                  <a href="#"><i class="ti-close"></i></a>
                </span>
                <div class="image">
                  <a href="shop-product-basic.html">
                    <img src="assets/images/cart-product-image/02.jpg" class="img-fluid" alt="">
                  </a>
                </div>
                <div class="content">
                  <h5><a href="shop-product-basic.html">Creative Wooden Stand</a></h5>
                  <p><span class="main-price discounted">$200.00</span> <span class="discounted-price">$180.00</span></p>
  
                </div>
              </div>
  
              <!--=======  End of single cart product  =======-->
            </div>
  
            <!--=======  cart buttons  =======-->
  
            <div class="cart-buttons">
              <a href="wishlist">view wishlist</a>
            </div>
  
            <!--=======  End of cart buttons  =======-->
          </div>
        </div>
  
        <!--=======  End of offcanvas wishlist content container   =======-->
      </div>
    </div>

    <!--=======  End of wishlist overlay  =======-->

    <!--=======  cart overlay  =======-->
  
    <div class="cart-overlay" id="cart-overlay">
      <div class="cart-overlay-close inactive"></div>
      <div class="cart-overlay-content">
        <!--=======  close icon  =======-->
  
        <span class="close-icon" id="cart-close-icon">
          <a href="javascript:void(0)">
            <i class="ion-android-close"></i>
          </a>
        </span>
        
        <!--=======  End of close icon  =======-->
  
        <!--=======  offcanvas cart content container  =======-->
  
        <div class="offcanvas-cart-content-container">
          <h3 class="cart-title"><b>Keranjang Belanja</b></h3>
          <div class="cart-product-wrapper" *ngIf="loginstatus != null && jumlahcart > 0">
            <div class="cart-product-container ps-scroll">
              <!--=======  single cart product  =======-->
              <div class="single-cart-product" *ngFor="let cart of cartlist.koleksi">
                <span class="cart-close-icon" (click)="deletecart(cart)">
                  <a ><i class="ti-close"></i></a>
                </span>
                <div class="image">
                  <a href="product/{{ cart.produk.link }}">
                    <img src="http://localhost:8000/fotoupload/{{ cart.produk.foto }}" class="img-fluid" alt="">
                  </a>
                </div>
                <div class="content">
                  <h5><a href="product/{{ cart.produk.link }}">{{ cart.produk.namaproduk }}</a></h5>
                  <p><span class="cart-count">{{ cart.jumlah }} x </span> <span class="discounted-price">{{ cart.produk.hargajual | currency:"IDR":""}}</span>
                  </p>
  
                </div>
              </div>
  
              <!--=======  End of single cart product  =======-->
            </div>
  
            <!--=======  subtotal calculation  =======-->
  
            <p class="cart-subtotal" *ngFor="let cart2 of cartlist.koleksi2">
              <span class="subtotal-title">Subtotal:</span>
              <span class="subtotal-amount">{{ cart2.subtotal | currency:"IDR":""}}</span>
            </p>
  
            <!--=======  End of subtotal calculation  =======-->
  
            <!--=======  cart buttons  =======-->
  
            <div class="cart-buttons">
              <a href="cart">view cart</a>
              <a href="checkout">checkout</a>
            </div>
  
            <!--=======  End of cart buttons  =======-->
  
            <!--=======  free shipping text  =======-->
  
            <p class="free-shipping-text">
              Gratis ongkir! Minimal pembelian Rp. 999.999
            </p>
  
            <!--=======  End of free shipping text  =======-->
          </div>
          <div class="cart-product-wrapper" *ngIf="loginstatus != null && jumlahcart == 0">
            <p align="center">[ Keranjang Masih Kosong! ]</p>
            <div class="cart-buttons" align="center">
              <a href="product">Belanja</a>
            </div>
          </div>
        </div>
  
        <!--=======  End of offcanvas cart content container   =======-->
      </div>
    </div>
  
    <!--=======  End of cart overlay  =======-->
  
  
    <!--=======  search overlay  =======-->
  
    <div class="search-overlay" id="search-overlay">
  
      <!--=======  close icon  =======-->
  
      <span class="close-icon search-close-icon">
        <a href="javascript:void(0)" id="search-close-icon">
          <i class="ti-close"></i>
        </a>
      </span>
  
      <!--=======  End of close icon  =======-->
  
      <!--=======  search overlay content  =======-->
  
      <div class="search-overlay-content">
        <div class="input-box">
          <form action="index.html">
            <input type="search" placeholder="Search Products...">
          </form>
        </div>
        <div class="search-hint">
          <span># Hit enter to search or ESC to close</span>
        </div>
      </div>
  
      <!--=======  End of search overlay content  =======-->
    </div>
  
    <!--=======  End of search overlay  =======-->
  
    <!--=====  End of overlay items  ======-->
  
    <!--=============================================
    =            quick view         =
    =============================================-->
  
    <div id="qv-1" class="cd-quick-view">
      <div class="cd-slider-wrapper">
        <ul class="cd-slider">
          <li class="selected"><img src="../assets/images/jewelry-one/product-1.png" alt="Product 2"></li>
          <li><img src="../assets/images/jewelry-one/product-2.png" alt="Product 1"></li>
        </ul> <!-- cd-slider -->
  
        <ul class="cd-slider-pagination">
          <li class="active"><a href="#0">1</a></li>
          <li><a href="#1">2</a></li>
        </ul> <!-- cd-slider-pagination -->
  
        <ul class="cd-slider-navigation">
          <li><a class="cd-prev" href="#0">Prev</a></li>
          <li><a class="cd-next" href="#0">Next</a></li>
        </ul> <!-- cd-slider-navigation -->
      </div> <!-- cd-slider-wrapper -->
  
      <div class="lezada-item-info cd-item-info ps-scroll">
  
        <h2 class="item-title">Demo Product One</h2>
        <p class="price">
          <span class="main-price discounted">$360.00</span>
          <span class="discounted-price">$300.00</span>
        </p>
  
        <p class="description">Hurley Dry-Fit Chino Short. Men's chino short. Outseam Length: 19 Dri-FIT Technology
          helps keep you dry and comfortable. Made with sweat-wicking fabric. Fitted waist with belt loops. Button
          waist with zip fly provides a classic look and feel .</p>
  
        <span class="quickview-title">Quantity:</span>
        <div class="pro-qty d-inline-block mb-40">
          <input type="text" value="1">
        </div>
  
        <div class="add-to-cart-btn mb-25">
  
          <button class="lezada-button lezada-button--medium">add to cart</button>
        </div>
  
        <div class="quick-view-other-info">
          <table>
            <tr class="single-info">
              <td class="quickview-title">SKU: </td>
              <td class="quickview-value">12345</td>
            </tr>
            <tr class="single-info">
              <td class="quickview-title">Categories: </td>
              <td class="quickview-value">
                <a href="#">Fashion</a>,
                <a href="#">Men</a>,
                <a href="#">Sunglasses</a>
              </td>
            </tr>
            <tr class="single-info">
              <td class="quickview-title">Tags: </td>
              <td class="quickview-value">
                <a href="#">Fashion</a>,
                <a href="#">Men</a>
              </td>
            </tr>
            <tr class="single-info">
              <td class="quickview-title">Share on: </td>
              <td class="quickview-value">
                <ul class="quickview-social-icons">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                </ul>
              </td>
            </tr>
          </table>
        </div>
  
  
      </div> <!-- cd-item-info -->
      <a href="#0" class="cd-close">Close</a>
    </div>
  
    <!--=====  End of quick view  ======-->
  
    <!-- scroll to top  -->
    <a href="javascript:void(0)" class="scroll-top"></a>
    <!-- end of scroll to top -->

