  <!--=======  breadcrumb area =======-->

  <div class="breadcrumb-area breadcrumb-bg-1 pt-10 pb-10 mb-20">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="breadcrumb-title">Edit Category</h1>

          <!--=======  breadcrumb list  =======-->

          <ul class="breadcrumb-list">
            <li class="breadcrumb-list__item"><a href="profile">Dashboard Admin</a></li>
            <li class="breadcrumb-list__item breadcrumb-list__item--active">Edit Category</li>
          </ul>

          <!--=======  End of breadcrumb list  =======-->

        </div>
      </div>
    </div>
  </div>

  <!--=======  End of breadcrumb area =======-->

      <!--=============================================
  =            my account page content         =
  =============================================-->

  <div class="my-account-area mb-50 mb-md-70 mb-sm-70 mb-xs-70 mb-xxs-70">
    <div class="container">
        <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="myaccount-content">
                    <div class="account-details-form">
                        <div class="single-input-item">
                            <div class="row">
                                <div class="col-2">
                                    <input type="file" (change)="fileProgress($event)" style="display: none" #fileInput formControlName="foto">
                                    <div *ngIf="previewUrl">
                                        <img [src]="previewUrl" width="150" (click)="fileInput.click()">   
                                    </div>
                                    <div *ngIf="!previewUrl && foto == ''">
                                        <img src="../../assets/img/box-flat.png" width="150" (click)="fileInput.click()">
                                    </div>
                                    <div *ngIf="!previewUrl && foto != ''">
                                        <img src="http://localhost:8000/fotoupload/{{foto}}" width="150" (click)="fileInput.click()">
                                    </div>
                                    <div *ngIf="fileUploadProgress">
                                        Upload progress: {{ fileUploadProgress }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-input-item">
                            <label for="nama" class="required">Nama Kategori</label>
                            <input type="hidden" [(ngModel)]="id" name="id" formControlName="id">
                            <input type="text" (keyup)="buatlink()" [(ngModel)]="nama" id="nama" name="nama" formControlName="nama" [ngClass]="{ 'is-invalid': submitted && f.nama.errors }">
                            <div *ngIf="submitted && f.nama.errors" class="invalid-feedback">
                                <div *ngIf="f.nama.errors.required">Nama Kategori Wajib Diisi</div>
                            </div>
                            <input type="hidden" [(ngModel)]="link" id="link" name="link" formControlName="link">
                        </div>
                        <div class="single-input-item">
                            <button class="check-btn sqr-btn">Save Category</button>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
  </div>
