	<!--=======  breadcrumb area =======-->

	<div class="breadcrumb-area breadcrumb-bg-1 pt-50 pb-70 mb-50">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="breadcrumb-title">Blog</h1>

					<!--=======  breadcrumb list  =======-->

					<ul class="breadcrumb-list">
						<li class="breadcrumb-list__item"><a href="index.html">HOME</a></li>
						<li class="breadcrumb-list__item breadcrumb-list__item--active">Blog</li>
					</ul>

					<!--=======  End of breadcrumb list  =======-->

				</div>
			</div>
		</div>
	</div>

	<!--=======  End of breadcrumb area =======-->

	<!--=============================================
    =            blog page wrapper         =
    =============================================-->

	<div class="blog-page-wrapper mb-100">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 order-2 d-none">
					<!--=======  page sidebar  =======-->

					<div class="page-sidebar">
						<!--=======  single sidebar widget  =======-->

						<div class="single-sidebar-widget mb-40">
							<!--=======  search widget  =======-->

							<div class="search-widget">
								<form action="#">
									<input type="search" placeholder="Search products ...">
									<button type="button"><i class="ion-android-search"></i></button>
								</form>
							</div>

							<!--=======  End of search widget  =======-->
						</div>


						<!--=======  End of single sidebarwidget  =======-->

						<!--=======  single sidebar widget  =======-->

						<div class="single-sidebar-widget mb-40">
							<h2 class="single-sidebar-widget--title">Categories</h2>
							<ul class="single-sidebar-widget--list single-sidebar-widget--list--category">
								<li class="has-children">
									<a href="shop-left-sidebar.html">Cosmetic </a> <span class="quantity">5</span>
									<ul>
										<li><a href="shop-left-sidebar.html">For body</a></li>
										<li><a href="shop-left-sidebar.html">Make up</a></li>
										<li><a href="shop-left-sidebar.html">New</a></li>
										<li><a href="shop-left-sidebar.html">Perfumes</a></li>
									</ul>
								</li>
								<li class="has-children">
									<a href="shop-left-sidebar.html">Furniture </a> <span class="quantity">23</span>
									<ul>
										<li><a href="shop-left-sidebar.html">Sofas</a></li>
										<li><a href="shop-left-sidebar.html">Armchairs</a></li>
										<li><a href="shop-left-sidebar.html">Desk Chairs</a></li>
										<li><a href="shop-left-sidebar.html">Dining Chairs</a></li>
									</ul>
								</li>
								<li><a href="shop-left-sidebar.html">Watches </a> <span class="quantity">12</span></li>
								<li><a href="shop-left-sidebar.html">Bags </a> <span class="quantity">22</span></li>
								<li><a href="shop-left-sidebar.html">Uncategorized </a> <span class="quantity">14</span></li>
							</ul>
						</div>

						<!--=======  End of single sidebar widget  =======-->



						<!--=======  single sidebar widget  =======-->

						<div class="single-sidebar-widget mb-40">


							<!--=======  widget post wrapper  =======-->

							<div class="widget-post-wrapper">
								<!--=======  single widget post  =======-->

								<div class="single-widget-post">
									<div class="image">
										<img src="assets/images/blog/post-thumbnail-100x120.png" class="img-fluid" alt="">
									</div>
									<div class="content">
										<h3 class="widget-post-title"><a href="#">Chic Fashion Phenomenon</a></h3>
										<p class="widget-post-date">June 5, 2018</p>
									</div>
								</div>

								<!--=======  End of single widget post  =======-->
								<!--=======  single widget post  =======-->

								<div class="single-widget-post">
									<div class="image">
										<img src="assets/images/blog/post-thumbnail-6-100x120.png" class="img-fluid" alt="">
									</div>
									<div class="content">
										<h3 class="widget-post-title"><a href="#">Go Your Own Way</a></h3>
										<p class="widget-post-date">June 5, 2018</p>
									</div>
								</div>

								<!--=======  End of single widget post  =======-->
								<!--=======  single widget post  =======-->

								<div class="single-widget-post">
									<div class="image">
										<img src="assets/images/blog/post-thumbnail-9-100x120.png" class="img-fluid" alt="">
									</div>
									<div class="content">
										<h3 class="widget-post-title"><a href="#">Home-made Body Lotion</a></h3>
										<p class="widget-post-date">June 5, 2018</p>
									</div>
								</div>

								<!--=======  End of single widget post  =======-->

							</div>

							<!--=======  End of widget post wrapper  =======-->
						</div>

						<!--=======  End of single sidebar widget  =======-->

						<!--=======  single sidebar widget  =======-->

						<div class="single-sidebar-widget mb-40">
							<!--=======  blog sidebar banner  =======-->

							<div class="blog-sidebar-banner">
								<img src="assets/images/banners/ADS-blog.png" class="img-fluid" alt="">
							</div>

							<!--=======  End of blog sidebar banner  =======-->
						</div>

						<!--=======  End of single sidebar widget  =======-->

						<!--=======  single sidebar widget  =======-->

						<div class="single-sidebar-widget">
							<h2 class="single-sidebar-widget--title"> Popular Tags</h2>

							<div class="tag-container">
								<a href="#">bags</a>
								<a href="#">chair</a>
								<a href="#">clock</a>
								<a href="#">comestic</a>
								<a href="#">fashion</a>
								<a href="#">furniture</a>
								<a href="#">holder</a>
								<a href="#">mask</a>
								<a href="#">men</a>
								<a href="#">oil</a>
							</div>
						</div>

						<!--=======  End of single sidebar widget  =======-->
					</div>

					<!--=======  End of page sidebar  =======-->
				</div>
				<div class="col-lg-12 order-1">
					<div class="row">

						<div class="col-md-4 mb-60">
							<div class="single-slider-post">
								<!--=======  image  =======-->

								<div class="single-slider-post__image mb-30">
									<a href="blog-single-post-left-sidebar.html">
										<img src="assets/images/blog/post-thumbnail-1-370x200.png" class="img-fluid" alt="">
									</a>
								</div>

								<!--=======  End of image  =======-->

								<!--=======  content  =======-->

								<div class="single-slider-post__content">
									<div class="post-date">
										<i class="ion-android-calendar"></i>
										<a href="blog-standard-left-sidebar.html"> june 5, 2018</a>
									</div>
									<h2 class="post-title"><a href="blog-single-post-left-sidebar.html">Chic Fashion Phenomenon</a></h2>
									<p class="post-excerpt">Michele seemed to say, was the 21st-century Gucci girl, an eccentric,
										fresh-faced weirdo who wasn’t afraid to wear backless fur-lined loafers, to personify the idea of
										“ugly pretty.”</p>
									<a href="blog-single-post-left-sidebar.html" class="blog-readmore-btn">read more</a>
								</div>

								<!--=======  End of content  =======-->
							</div>
						</div>

						<div class="col-md-4 mb-60">
							<div class="single-slider-post">
								<!--=======  image  =======-->

								<div class="single-slider-post__image mb-30">
									<a href="blog-single-post-left-sidebar.html">
										<img src="assets/images/blog/post-thumbnail-2-1-370x200.png" class="img-fluid" alt="">
									</a>
								</div>

								<!--=======  End of image  =======-->

								<!--=======  content  =======-->

								<div class="single-slider-post__content">
									<div class="post-date">
										<i class="ion-android-calendar"></i>
										<a href="blog-standard-left-sidebar.html"> june 6, 2018</a>
									</div>
									<h2 class="post-title"><a href="blog-single-post-left-sidebar.html">Shirt Color Picking Guide</a></h2>
									<p class="post-excerpt">Michele seemed to say, was the 21st-century Gucci girl, an eccentric,
										fresh-faced weirdo who wasn’t afraid to wear backless fur-lined loafers, to personify the idea of
										“ugly pretty.”</p>
									<a href="blog-single-post-left-sidebar.html" class="blog-readmore-btn">read more</a>
								</div>

								<!--=======  End of content  =======-->
							</div>
						</div>

						<div class="col-md-4 mb-60">
							<div class="single-slider-post">
								<!--=======  image  =======-->

								<div class="single-slider-post__image mb-30">
									<a href="blog-single-post-left-sidebar.html">
										<img src="assets/images/blog/post-thumbnail-8-370x200.png" class="img-fluid" alt="">
									</a>
								</div>

								<!--=======  End of image  =======-->

								<!--=======  content  =======-->

								<div class="single-slider-post__content">
									<div class="post-date">
										<i class="ion-android-calendar"></i>
										<a href="blog-standard-left-sidebar.html"> june 8, 2018</a>
									</div>
									<h2 class="post-title"><a href="blog-single-post-left-sidebar.html">Perfect Perfume & Cologne</a></h2>
									<p class="post-excerpt">Michele seemed to say, was the 21st-century Gucci girl, an eccentric,
										fresh-faced weirdo who wasn’t afraid to wear backless fur-lined loafers, to personify the idea of
										“ugly pretty.”</p>
									<a href="blog-single-post-left-sidebar.html" class="blog-readmore-btn">read more</a>
								</div>

								<!--=======  End of content  =======-->
							</div>
						</div>

						<div class="col-md-4 mb-60">
							<div class="single-slider-post">
								<!--=======  image  =======-->

								<div class="single-slider-post__image mb-30">
									<a href="blog-single-post-left-sidebar.html">
										<img src="assets/images/blog/post-thumbnail-370x200.png" class="img-fluid" alt="">
									</a>
								</div>

								<!--=======  End of image  =======-->

								<!--=======  content  =======-->

								<div class="single-slider-post__content">
									<div class="post-date">
										<i class="ion-android-calendar"></i>
										<a href="blog-standard-left-sidebar.html"> june 10, 2018</a>
									</div>
									<h2 class="post-title"><a href="blog-single-post-left-sidebar.html">T-Shirts as Minimalist Style</a>
									</h2>
									<p class="post-excerpt">Michele seemed to say, was the 21st-century Gucci girl, an eccentric,
										fresh-faced weirdo who wasn’t afraid to wear backless fur-lined loafers, to personify the idea of
										“ugly pretty.”</p>
									<a href="blog-single-post-left-sidebar.html" class="blog-readmore-btn">read more</a>
								</div>

								<!--=======  End of content  =======-->
							</div>
						</div>

						<div class="col-md-4 mb-60">
							<div class="single-slider-post">
								<!--=======  image  =======-->

								<div class="single-slider-post__image mb-30">
									<a href="blog-single-post-left-sidebar.html">
										<img src="assets/images/blog/post-thumbnail-1-370x200.png" class="img-fluid" alt="">
									</a>
								</div>

								<!--=======  End of image  =======-->

								<!--=======  content  =======-->

								<div class="single-slider-post__content">
									<div class="post-date">
										<i class="ion-android-calendar"></i>
										<a href="blog-standard-left-sidebar.html"> june 5, 2018</a>
									</div>
									<h2 class="post-title"><a href="blog-single-post-left-sidebar.html">Chic Fashion Phenomenon</a></h2>
									<p class="post-excerpt">Michele seemed to say, was the 21st-century Gucci girl, an eccentric,
										fresh-faced weirdo who wasn’t afraid to wear backless fur-lined loafers, to personify the idea of
										“ugly pretty.”</p>
									<a href="blog-single-post-left-sidebar.html" class="blog-readmore-btn">read more</a>
								</div>

								<!--=======  End of content  =======-->
							</div>
						</div>

						<div class="col-md-4 mb-60">
							<div class="single-slider-post">
								<!--=======  image  =======-->

								<div class="single-slider-post__image mb-30">
									<a href="blog-single-post-left-sidebar.html">
										<img src="assets/images/blog/post-thumbnail-2-1-370x200.png" class="img-fluid" alt="">
									</a>
								</div>

								<!--=======  End of image  =======-->

								<!--=======  content  =======-->

								<div class="single-slider-post__content">
									<div class="post-date">
										<i class="ion-android-calendar"></i>
										<a href="blog-standard-left-sidebar.html"> june 6, 2018</a>
									</div>
									<h2 class="post-title"><a href="blog-single-post-left-sidebar.html">Shirt Color Picking Guide</a></h2>
									<p class="post-excerpt">Michele seemed to say, was the 21st-century Gucci girl, an eccentric,
										fresh-faced weirdo who wasn’t afraid to wear backless fur-lined loafers, to personify the idea of
										“ugly pretty.”</p>
									<a href="blog-single-post-left-sidebar.html" class="blog-readmore-btn">read more</a>
								</div>

								<!--=======  End of content  =======-->
							</div>
						</div>

						<div class="col-md-4 mb-60">
							<div class="single-slider-post">
								<!--=======  image  =======-->

								<div class="single-slider-post__image mb-30">
									<a href="blog-single-post-left-sidebar.html">
										<img src="assets/images/blog/post-thumbnail-8-370x200.png" class="img-fluid" alt="">
									</a>
								</div>

								<!--=======  End of image  =======-->

								<!--=======  content  =======-->

								<div class="single-slider-post__content">
									<div class="post-date">
										<i class="ion-android-calendar"></i>
										<a href="blog-standard-left-sidebar.html"> june 8, 2018</a>
									</div>
									<h2 class="post-title"><a href="blog-single-post-left-sidebar.html">Perfect Perfume & Cologne</a></h2>
									<p class="post-excerpt">Michele seemed to say, was the 21st-century Gucci girl, an eccentric,
										fresh-faced weirdo who wasn’t afraid to wear backless fur-lined loafers, to personify the idea of
										“ugly pretty.”</p>
									<a href="blog-single-post-left-sidebar.html" class="blog-readmore-btn">read more</a>
								</div>

								<!--=======  End of content  =======-->
							</div>
						</div>

						<div class="col-md-4 mb-60">
							<div class="single-slider-post">
								<!--=======  image  =======-->

								<div class="single-slider-post__image mb-30">
									<a href="blog-single-post-left-sidebar.html">
										<img src="assets/images/blog/post-thumbnail-370x200.png" class="img-fluid" alt="">
									</a>
								</div>

								<!--=======  End of image  =======-->

								<!--=======  content  =======-->

								<div class="single-slider-post__content">
									<div class="post-date">
										<i class="ion-android-calendar"></i>
										<a href="blog-standard-left-sidebar.html"> june 10, 2018</a>
									</div>
									<h2 class="post-title"><a href="blog-single-post-left-sidebar.html">T-Shirts as Minimalist Style</a>
									</h2>
									<p class="post-excerpt">Michele seemed to say, was the 21st-century Gucci girl, an eccentric,
										fresh-faced weirdo who wasn’t afraid to wear backless fur-lined loafers, to personify the idea of
										“ugly pretty.”</p>
									<a href="blog-single-post-left-sidebar.html" class="blog-readmore-btn">read more</a>
								</div>

								<!--=======  End of content  =======-->
							</div>
						</div>

					</div>

					<div class="row">
						<div class="col-lg-12">
							<!--=======  pagination  =======-->

							<div class="pagination text-center">
								<ul>
									<li class="active"><a href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">NEXT</a></li>
								</ul>
							</div>

							<!--=======  End of pagination  =======-->
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<!--=====  End of blog page wrapper  ======-->