    <!--=============================================
      =            slider area         =
      =============================================-->
  
      <div class="slider-area slider-area--transparent-header mb-50">
        <!--=======  slider-wrapper  =======-->
    
        <div class="lezada-slick-slider lezada-slick-slider--fullscreen" data-slick-setting='{
                "slidesToShow": 1,
                "slidesToScroll": 1,
                "arrows": false,
                "dots": true,
                "autoplay": true,
                "autoplaySpeed": 5000,
                "speed": 1000,
                "prevArrow": {"buttonClass": "slick-prev", "iconClass": "ti-angle-left" },
                "nextArrow": {"buttonClass": "slick-next", "iconClass": "ti-angle-right" }
            }'>
    
    
          <!--=======  single slider  =======-->
          <div class="lezada-single-slider bg-img" data-bg="../../assets/images/jewelry-one/slider-one.jpg">
            <div class="container h-90">
              <div class="row align-items-center h-90">
                <div class="lezada-single-slider__content lezada-single-slider__content--spectral-style">
                  <h5 class="subtitle">Small Collection</h5>
                  <h2 class="main-title">Every woman deserves <br> only the best </h2>
                  <a href="product" class="lezada-button lezada-button--medium">Shop Now</a>
                </div>
              </div>
            </div>
          </div>
          <div class="lezada-single-slider bg-img" data-bg="../../assets/images/parallax-bg/bg-parallax-1.jpg">
            <div class="container h-90">
              <div class="row align-items-center h-90">
                <div class="lezada-single-slider__content lezada-single-slider__content--spectral-style">
                  <h5 class="subtitle">New Collection</h5>
                  <h2 class="main-title">Spring favorites <br> only the best </h2>
                  <a href="category" class="lezada-button lezada-button--medium">View More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="lezada-single-slider bg-img" data-bg="../../assets/images/parallax-bg/bg-parallax-3.jpg">
            <div class="container h-90">
              <div class="row align-items-center h-90">
                <div class="lezada-single-slider__content lezada-single-slider__content--spectral-style">
                  <h5 class="subtitle">Women Collection</h5>
                  <h2 class="main-title">New Arrivals <br> only the best </h2>
                  <a href="product" class="lezada-button lezada-button--medium">Shop Now</a>
                </div>
              </div>
            </div>
          </div>
          <!--=======  End of single slider  =======-->
    
    
        </div>
    
        <!--=======  End of slider-wrapper  =======-->
      </div>
    
      <!--=====  End of slider area  ======-->
    
      <!--=============================================
        =            video icon content             =
        =============================================-->
    
      <div class="video-icon-content-area mb-130 mb-md-100 mb-sm-80">
        <div class="container wide">
          <div class="row align-items-center">
            <div class="col-xl-7 col-lg-7">
              <!--=======  about video area  =======-->
    
              <div
                class="about-video-bg-area about-video-bg-3 pt-300 pb-300 pt-sm-200 pt-xxs-100 pb-xxs-100 pb-sm-200 mb-md-50 mb-sm-50">
                <div class="play-icon text-center">
                  <a href="https://www.youtube.com/watch?v=feOScd2HdiU" class="popup-video"><img
                      src="../assets/images/icons/icon-play-100x100.png" class="img-fluid" alt=""></a>
                </div>
              </div>
    
              <!--=======  End of about video area  =======-->
            </div>
            <div class="col-xl-4 offset-xl-1 col-lg-5">
              <div class="video-icon-content">
                <h2 class="video-icon-content__title">Refined jewelry. <br /> Purified materials.</h2>
                <div class="video-icon-content__icon-content-wrapper">
                  <div class="single-icon-content">
                    <div class="single-icon-content__icon">
                      <img src="../assets/images/icons/icon1.png" class="img-fluid" alt="">
                    </div>
                    <div class="single-icon-content__content">
                      <h4 class="title">The prime quality.</h4>
                      <p class="text">Pure gold, clear-cut gemstones and hokkia stone – carefully crafted
                        by Lezada.</p>
                    </div>
                  </div>
                  <div class="single-icon-content">
                    <div class="single-icon-content__icon">
                      <img src="../assets/images/icons/icon2.png" class="img-fluid" alt="">
                    </div>
                    <div class="single-icon-content__content">
                      <h4 class="title">The precious stones.</h4>
                      <p class="text">All are made from refined precious stones. We hand pick only the
                        best pieces.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <!--=====  End of video icon content  ======-->
    
    
      <!--=============================================
      =            section title  container      =
      =============================================-->

      <div class="section-title-container mb-80 mb-md-60 mb-sm-40">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <!--=======  section title  =======-->

              <div class="section-title section-title--one text-center">
                <h1>Trending Now</h1>
                <p class="subtitle subtitle--deep subtitle--trending-home">Find your style. Fall fashion 20xx</p>
              </div>

              <!--=======  End of section title  =======-->
            </div>
          </div>
        </div>
      </div>

      <!--=====  End of section title container ======-->

      <!--=============================================
      =            product carousel container         =
      =============================================-->

      <div class="product-carousel-container mb-70 mb-md-50 mb-sm-30">
        <div class="container wide">
          <div class="row column-four">

            <!--=======  single product  =======-->
            <div class="col-12 col-lg-3 col-md-6 col-sm-6 mb-45" *ngFor="let product of productlist">
              <div class="single-product">
                <!--=======  single product image  =======-->

                <div class="single-product__image">
                  <a class="image-wrap" href="product/{{ product.link }}">
                    <img src="assets/images/products/{{ product.foto }}" class="img-fluid" alt="">
                    <img src="assets/images/products/hover-{{ product.foto }}" class="img-fluid" alt="">
                  </a>

                  <div class="single-product__floating-badges">
                    <span class="onsale">-10%</span>
                    <span class="hot">hot</span>
                  </div>

                  <div class="single-product__floating-icons">
                    <span class="wishlist"><a href="#" data-tippy="Add to wishlist" data-tippy-inertia="true"
                        data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true"
                        data-tippy-theme="sharpborder" data-tippy-placement="left"><i
                          class="ion-android-favorite-outline"></i></a></span>

                    <!-- <span class="compare"><a href="#" data-tippy="Compare" data-tippy-inertia="true"
                        data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true"
                        data-tippy-theme="sharpborder" data-tippy-placement="left"><i
                          class="ion-ios-shuffle-strong"></i></a></span> -->

                    <span class="quickview"><a class="cd-trigger" href="#qv-1" data-tippy="Quick View"
                        data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50"
                        data-tippy-arrow="true" data-tippy-theme="sharpborder" data-tippy-placement="left"><i
                          class="ion-ios-search-strong"></i></a></span>
                  </div>


                </div>

                <!--=======  End of single product image  =======-->

                <!--=======  single product content  =======-->

                <div class="single-product__content">
                  <!-- <div class="single-product__variations">
                    <div class="size-container mb-5">
                      <span class="size">L</span>
                      <span class="size">M</span>
                      <span class="size">S</span>
                      <span class="size">XS</span>
                    </div>
                    <div class="color-container">
                      <span class="black"></span>
                      <span class="blue"></span>
                      <span class="yellow"></span>
                    </div>
                    <a href="#" class="clear-link">clear</a>
                  </div> -->
                  <div class="title">
                    <h3> <a href="product/{{ product.id }}">{{ product.namaproduk }}</a></h3>
                    <!-- <a href="#">Select options</a> -->
                    <a (click)="cartbutton(product)">Add to cart</a>
                  </div>
                  <div class="price">
                    <span class="main-price discounted">{{ product.hargajual | currency:"IDR":""}}</span>
                    <span class="discounted-price">{{ product.hargagrosir | currency:"IDR":""}}</span>
                  </div>
                </div>

                <!--=======  End of single product content  =======-->
              </div>
            </div>
            <!--=======  End of single product  =======-->

            <!-- <div class="col-12 col-lg-3 col-md-6 col-sm-6 mb-45">
              <div class="single-product">
                <div class="single-product__image">
                  <a class="image-wrap" href="#">
                    <img src="assets/images/products/fashion-1-1-600x800.jpg" class="img-fluid" alt="">
                    <img src="assets/images/products/fashion-1-2-600x800.jpg" class="img-fluid" alt="">
                  </a>
                  <div class="single-product__floating-badges">
                    <span class="onsale">-10%</span>
                    <span class="hot">hot</span>
                  </div>
                  <div class="single-product__floating-icons">
                    <span class="wishlist"><a href="#" data-tippy="Add to wishlist" data-tippy-inertia="true"
                        data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true"
                        data-tippy-theme="sharpborder" data-tippy-placement="left"><i
                          class="ion-android-favorite-outline"></i></a></span>

                    <span class="compare"><a href="#" data-tippy="Compare" data-tippy-inertia="true"
                        data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true"
                        data-tippy-theme="sharpborder" data-tippy-placement="left"><i
                          class="ion-ios-shuffle-strong"></i></a></span>

                    <span class="quickview"><a class="cd-trigger" href="#qv-1" data-tippy="Quick View"
                        data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50"
                        data-tippy-arrow="true" data-tippy-theme="sharpborder" data-tippy-placement="left"><i
                          class="ion-ios-search-strong"></i></a></span>
                  </div>
                </div>

                <div class="single-product__content">
                  <div class="single-product__variations">
                    <div class="size-container mb-5">
                      <span class="size">L</span>
                      <span class="size">M</span>
                      <span class="size">S</span>
                      <span class="size">XS</span>
                    </div>
                    <div class="color-container">
                      <span class="black"></span>
                      <span class="blue"></span>
                      <span class="yellow"></span>
                    </div>
                    <a href="#" class="clear-link">clear</a>
                  </div>
                  <div class="title">
                    <h3> <a href="#">Nama Product</a></h3>
                    <a href="#">Select options</a>
                    <a href="#">Add to cart</a>
                  </div>
                  <div class="price">
                    <span class="main-price discounted">100.000</span>
                    <span class="discounted-price">50000</span>
                  </div>
                </div>
              </div>
            </div> -->
          </div>

          <div class="row">
            <div class="col-lg-12 text-center mb-25 mt-30 mt-sm-20">
              <a class="lezada-loadmore-button" href="shop"><i class="ion-ios-plus-empty"></i> LOAD MORE ...</a>
            </div>
          </div>
        </div>
      </div>

      <!--=====  End of product carousel container  ======-->
    
      <!--=============================================
        =            about text bg area            =
        =============================================-->
    
      <div class="about-text-bg-area mb-130 mb-md-100 mb-sm-80">
        <div class="container wide">
          <div class="row no-gutters">
            <div class="col-lg-6">
              <div class="about-bg-content">
                <h2 class="about-bg-content__title">A timeless piece of jewelry has lasting value.</h2>
                <p class="about-bg-content__text">I think part of the beauty of our relationship with jewelry is
                  that it can change and evolve as we do ourselves. Trends come and go, style evolves.</p>
                <a href="#" class="about-bg-content__link">MORE ABOUT US</a>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="about-bg-background about-bg-4"></div>
            </div>
          </div>
        </div>
      </div>
    
      <!--=====  End of about text bg area  ======-->
    
      <!--=============================================
        =            brand carousel area         =
        =============================================-->
    
      <div class="brand-carousel-area mb-130 mb-md-100 mb-sm-80">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="brand-carousel-content text-center mb-50">
                <h4 class="brand-carousel-content__title">OUR BRANDS</h4>
                <p class="brand-carousel-content__text">“ It's important to have pieces of jewelry that are
                  timeless and look chic despite ever-changing fashions. ”</p>
              </div>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-lg-12">
              <!--=======  brand carousel container  =======-->
    
              <div class="lezada-slick-slider brand-carousel-container" data-slick-setting='{
                "slidesToShow": 5,
                "slidesToScroll": 1,
                "arrows": false,
                "dots": false,
                "autoplay": true,
                "autoplaySpeed": 5000,
                "speed": 1000
              }' data-slick-responsive='[
                {"breakpoint":1501, "settings": {"slidesToShow": 6, "arrows": false} },
                {"breakpoint":1199, "settings": {"slidesToShow": 6, "arrows": false} },
                {"breakpoint":991, "settings": {"slidesToShow": 4,"slidesToScroll": 1, "arrows": false} },
                {"breakpoint":767, "settings": {"slidesToShow": 3, "slidesToScroll": 1, "arrows": false} },
                {"breakpoint":575, "settings": {"slidesToShow": 3, "slidesToScroll": 1,  "arrows": false} },
                {"breakpoint":479, "settings": {"slidesToShow": 2, "slidesToScroll": 1, "arrows": false} }
              ]'>
                <!--=======  single brand  =======-->
    
                <div class="single-brand single-brand--light text-center">
                  <a href="#" data-tippy="Allioop" data-tippy-inertia="true" data-tippy-animation="shift-away"
                    data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                    <img src="../assets/images/brands/brand1.png" class="img-fluid" alt="">
                  </a>
                </div>
    
                <!--=======  End of single brand  =======-->
                <!--=======  single brand  =======-->
    
                <div class="single-brand single-brand--light text-center">
                  <a href="#" data-tippy="Burberry" data-tippy-inertia="true" data-tippy-animation="shift-away"
                    data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                    <img src="../assets/images/brands/brand2.png" class="img-fluid" alt="">
                  </a>
                </div>
    
                <!--=======  End of single brand  =======-->
                <!--=======  single brand  =======-->
    
                <div class="single-brand single-brand--light text-center">
                  <a href="#" data-tippy="Catmen" data-tippy-inertia="true" data-tippy-animation="shift-away"
                    data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                    <img src="../assets/images/brands/brand3.png" class="img-fluid" alt="">
                  </a>
                </div>
    
                <!--=======  End of single brand  =======-->
                <!--=======  single brand  =======-->
    
                <div class="single-brand single-brand--light text-center">
                  <a href="#" data-tippy="Houdini" data-tippy-inertia="true" data-tippy-animation="shift-away"
                    data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                    <img src="../assets/images/brands/brand4.png" class="img-fluid" alt="">
                  </a>
                </div>
    
                <!--=======  End of single brand  =======-->
                <!--=======  single brand  =======-->
    
                <div class="single-brand single-brand--light text-center">
                  <a href="#" data-tippy="Olay" data-tippy-inertia="true" data-tippy-animation="shift-away"
                    data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                    <img src="../assets/images/brands/brand5.png" class="img-fluid" alt="">
                  </a>
                </div>
    
                <!--=======  End of single brand  =======-->
                <!--=======  single brand  =======-->
    
                <div class="single-brand single-brand--light text-center">
                  <a href="#" data-tippy="Made" data-tippy-inertia="true" data-tippy-animation="shift-away"
                    data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                    <img src="../assets/images/brands/brand6.png" class="img-fluid" alt="">
                  </a>
                </div>
    
                <!--=======  End of single brand  =======-->
                <!--=======  single brand  =======-->
    
                <div class="single-brand single-brand--light text-center">
                  <a href="#" data-tippy="Allioop" data-tippy-inertia="true" data-tippy-animation="shift-away"
                    data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                    <img src="../assets/images/brands/brand1.png" class="img-fluid" alt="">
                  </a>
                </div>
    
                <!--=======  End of single brand  =======-->
                <!--=======  single brand  =======-->
    
                <div class="single-brand single-brand--light text-center">
                  <a href="#" data-tippy="Burberry" data-tippy-inertia="true" data-tippy-animation="shift-away"
                    data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                    <img src="../assets/images/brands/brand2.png" class="img-fluid" alt="">
                  </a>
                </div>
    
                <!--=======  End of single brand  =======-->
                <!--=======  single brand  =======-->
    
                <div class="single-brand single-brand--light text-center">
                  <a href="#" data-tippy="Catmen" data-tippy-inertia="true" data-tippy-animation="shift-away"
                    data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                    <img src="../assets/images/brands/brand3.png" class="img-fluid" alt="">
                  </a>
                </div>
    
                <!--=======  End of single brand  =======-->
    
              </div>
    
              <!--=======  End of brand carousel container  =======-->
            </div>
          </div>
        </div>
      </div>
    
      <!--=====  End of brand carousel area  ======-->
    
      <!--=============================================
        =            banner cta            =
        =============================================-->
    
      <div class="banner-cta banner-cta-bg banner-bg-one pt-200 pb-200 pt-md-150 pb-md-150 pt-sm-100 pb-sm-100">
        <div class="container wide">
          <div class="row">
            <div class="col-lg-7 col-xl-5">
              <div class="banner-cta-content">
                <h4 class="banner-cta-content__title">THE ESSENTIALS</h4>
                <h2 class="banner-cta-content__subtitle">Women are like the most precious pieces of jewelry.
                </h2>
                <a href="shop-left-sidebar.html" class="banner-cta-content__button">SHOP NOW</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <!--=====  End of banner cta  ======-->
    
      <!--=============================================
      =            instagram image slider         =
      =============================================-->
    
      <div class="instagram-image-slider-area grey-bg-two pt-130 pb-130 pt-md-100 pb-md-100 pt-sm-80 pb-sm-80">
        <div class="container wide">
          <div class="row">
            <div class="col-lg-12 text-center">
              <div class="instagram-title-container mb-80 mb-md-60 mb-sm-40">
                <h4 class="title">FOLLOW US</h4>
                <h2 class="subtitle">@riccilink</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <!--=======  instagram image container  =======-->
    
              <div class="instagram-image-slider-container">
                <div class="instagram-feed-thumb">
                  <div id="instagramFeedTwo" class="instagram-carousel-type2">
                  </div>
                </div>
              </div>
    
              <!--=======  End of instagram image container  =======-->
            </div>
          </div>
        </div>
      </div>
    
      <!--=====  End of instagram image slider  ======-->
  
      